<!-- <h2> <%= //article.title %></h2> -->
<h2> Edit Info. </h2>

<div>
    name: <label> <%= User.firstName %> </label>
</div>

<div>
    last Name: <label> <%= User.lastName %> </label>
</div>

<div>
    email Address : <label> <%= User.emailAddress %> </label>
</div>

<div>
    phone Number: <label> <%= User.phone %> </label>
</div>